<% layout('./layouts/boilerplate')%>

<div class="container my-5 col-md-8 col-lg-6">

    <h1 class="display-2">Edit Team</h1>

    <%- include('../partials/flash') %>

    <form action="/teams/<%= team._id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="name" class="form-label">Update your Marvel Ultimate Team name</label>
            <input type="text" class="form-control" id="name" name="team[name]" aria-describedby="heroName" value="<%= team.name %>" required>
        </div>
        <div class="mb-3">
            <label for="hqLocation" class="form-label">HQ Location</label>
            <input type="text" class="form-control" id="hqLocation" name="team[hqLocation]" value="<%= team.hqLocation %>" required>
        </div>
        <div class="mb-3">
            <label for="bio" class="form-label">Provide a brief bio</label>
            <textarea type="text" class="form-control" id="bio" name="team[bio]" rows="5" value="<%= team.bio %>" required><%= team.bio %></textarea>
        </div>
        <div class="mb-3">
            <label for="logo" class="form-label">Update Logo File</label>
            <input type="file" class="form-control" id="logo" name="logo">
            <div class="form-text">Uploading a new logo will remove the one currently on file.</div>
        </div>
        <div class="mb-3">
            <% if (team.logo) { %>
                <img src="<%= team.logo.thumbnail %>" class="img-thumbnail">
            <% } else { %>  
                <p>This team does not have a logo yet.</p>
            <% } %> 
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        
    </form>

</div>