<% layout('./layouts/boilerplate')%>

<div class="container my-5">

    <%- include('../partials/flash') %>

    <div class="row d-flex flex-column align-items-center">

        <div class="row mb-5 text-center justify-content-center">
            <% for (let character of team.characters) { %> 
                <div class="col">
                    <img src="<%= character.thumbnail + "portrait_fantastic.jpg"%>" alt="">
                    <p><%= character.name %></p>
                </div>
            <% } %> 
        </div>

        <div class="col col-lg-8"> 

            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="<%= team.symbol %>" alt="team-image" class="mw-100 rounded-start">
                    </div>
                    <div class="col-md-8 d-flex flex-column">
                        <h5 class="card-header display-6"><%= team.name %></h5>
                        <div class="card-body">
                            <h5 class="card-title"><%= team.hqLocation %></h5>
                            <p class="card-text"><%= team.bio %></p>      
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-between align-items-center">
                            <span>Database upload by u/<%= team.owner.username %></span>
                            <% if (currentUser && team.owner.equals(currentUser._id)) { %>
                                <div class="d-inline">
                                    <a class="btn btn-warning" href="/teams/<%= team._id %>/edit" role="button">Edit</a>
                                    <form action="/teams/<%= team._id %>?_method=DELETE" method="POST" class="d-inline">
                                        <button class="btn btn-danger">Delete</button>
                                    </form>
                                </div> 
                            <% } %> 
                        </div>
                    </div>
                </div>
            </div>

            <% if (currentUser && team.owner.equals(currentUser._id)) { %>
                <hr>
                <h4>Add a Character to your Team</h4>
                <form action="/teams/<%= team._id %>/characters" method="POST">
                    <section class="mb-2">
                        <label for="characterName" class="form-label">Character Name:</label>
                        <input type="text" class="form-control" id="characterName" name="character[name]">
                        <label for="characterThumbnail" class="form-label">Image Link</label>
                        <input type="text" class="form-control" id="characterThumbnail" name="character[thumbnail]">
                    </section>
                    <button type="submit" class="btn btn-success mt-2">Post</button>
                </form>
                <hr>
            <% } %>

            <div class="mt-5">
                <% if (!currentUser) { %>
                    <h5>Please <a href="/login">log in</a> to add comment.</h5>
                <% } else { %>    
                    <h4>New Comment</h4>
                    <hr> 
                    <form action="/teams/<%= team._id %>/members" method="POST" class="mb-5">
                        <section class="mb-2">
                            <label for="comment" class="form-label">Enter comment below:</label>
                            <input class="form-control" id="comment" name="comment[text]" rows="3"></textarea>
                        </section>
                        <button type="submit" class="btn btn-success mt-2">Post</button>
                    </form>
                <% } %>
            </div>

            <div class="mt-5">
                <% for (let comment of team.comments) { %> 
                    <div class="card mb-4">
                        <div class="card-header">By @<%= comment.owner.username %></div>
                        <div class="card-body">
                            <p class="card-text"><%= comment.text %></p>
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-between align-items-center">
                            <span class="me-3">Posted - <%= comment.createdAt %></span> 
                            <% if (currentUser && comment.owner.equals(currentUser._id)) { %>
                                <form action="/teams/<%= team._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            <% } %> 
                        </div>
                    </div>
                <% } %> 
            </div>

        </div>

    </div> 

</div>