<% layout('./layouts/boilerplate')%>

<link rel="stylesheet" href="/css/show-team.css">

<div class="container my-5 pb-5 pt-4 rounded d-flex flex-column align-items-between">

    <div class="col col-lg-6 mx-auto">
        <%- include('../partials/flash') %>
    </div>
    
    <div class="row d-flex flex-column align-items-center">

        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-2 mb-5">
                <% if (team.logo) { %>
                    <img src="<%= team.logo.medium %>" alt="team-image" class="mw-100 rounded-circle">
                <% } else { %>
                    <img src="https://res.cloudinary.com/darthsaul/image/upload/v1617221834/Marvel-Ultimate-Team/no-image-icon-8_vlwygx.png"
                        alt="team-image" class="mw-100 rounded-start">
                <% } %>
            </div>
        </div>

        <div class="row mb-5">
            <% for (let character of team.characters) { %>
                <div class="col text-center">
                    <img src="<%= character.thumbnail + "portrait_fantastic.jpg"%>" class="rounded">
                    <p class="text-white"><%= character.name %></p>
                    <% if (currentUser && team.owner.equals(currentUser._id)) { %>
                        <form action="/teams/<%= team._id %>/characters/<%= character._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm"><img src="https://res.cloudinary.com/darthsaul/image/upload/w_25/v1617235545/Marvel-Ultimate-Team/cancel_cecwk9.png" alt=""></button>
                        </form>
                    <% } %>
                </div>
            <% } %>
        </div>

        <div class="row d-flex justify-content-between">

                <div class="col-12 col-lg-6">
                    <div class="card mb-5 shadow-lg">
                        <div id="map" style="width: 100%; height: 300px;"></div>
                        <div class="card-body">
                          <h5 class="card-title"><%= team.name %></h5>
                          <h6 class="card-subtitle mb-2 text-muted"><%= team.hqLocation %></h6>
                          <p class="card-text"><%= team.bio %></p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-between align-items-center">
                            <span>Database upload by @<%= team.owner.username %></span>
                            <% if (currentUser && team.owner.equals(currentUser._id)) { %>
                            <div class="d-inline">
                                <a class="btn btn-warning" href="/teams/<%= team._id %>/edit" role="button">Edit</a>
                                <form action="/teams/<%= team._id %>?_method=DELETE" method="POST" class="d-inline">
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-lg-6">

                    <div class="">
                        <% if (!currentUser) { %>
                            <div class="card mb-3 shadow-lg">
                                <h6 class="card-header">Please login to comment</h6>  
                                <div class="card-body">
                                    <form action="/login" method="POST" class="needs-validation row g-3" novalidate>
                                        <div class="col-5">
                                            <label for="username" class="form-label visually-hidden">Email</label>
                                            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                                        </div>
                                        <div class="col-5">
                                            <label for="password" class="form-label visually-hidden">Password</label>
                                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                        </div>
                                        <div class="col-2">
                                            <button type="submit" class="btn btn-success w-100 mb-1">Login</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        <% } else { %>
                            <div class="card mb-3 shadow-lg">
                                <div class="card-body">
                                  <h5 class="card-title">New Comment</h5>
                                  <hr>
                                  <h6 class="card-subtitle mb-3 text-muted">Enter comment below</h6>
                                  <form action="/teams/<%= team._id %>/comments" method="POST" class="mb-2">
                                    <section class="mb-3">
                                        <textarea class="form-control" id="comment" name="comment[text]" rows="3"></textarea>
                                    </section>
                                    <button type="submit" class="btn btn-success">Post</button>
                                </form>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    

                    <div class="">
                        <% for (let comment of team.comments) { %>
                            <div class="card mb-3">
                                <h6 class="card-header">By @<%= comment.owner.username %></h6>
                                <div class="card-body">
                                    <p class="card-text"><%= comment.text %></p>
                                </div>
                                <div class="card-footer text-muted d-flex justify-content-between align-items-center">
                                    <span class="me-3">Posted - <%= comment.createdAt %></span>
                                    <% if (currentUser && comment.owner.equals(currentUser._id)) { %>
                                    <form action="/teams/<%= team._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-sm btn-danger">Delete</button>
                                    </form>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const team = <%- JSON.stringify(team) %>
</script>

<script src="/js/showMap.js"></script>