<% layout('./layouts/boilerplate')%>

<div class="container my-5">

    <div class="row d-flex flex-column align-items-center">

        <div class="col col-lg-8">

            <%- include('../partials/flash') %>

            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="<%= team.symbol %>" alt="team-image" class="mw-100 rounded-start">
                    </div>
                    <div class="col-md-8 d-flex flex-column">
                        <h5 class="card-header display-6"><%= team.name %></h5>
                        <div class="card-body">
                            <h5 class="card-title"><%= team.hqLocation %></h5>
                            <p class="card-text"><%= team.bio %></p>      
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-between align-items-center">
                            <span>Database upload by u/<%= team.owner.username %></span>
                            <% if (currentUser && team.owner.equals(currentUser._id)) { %>
                                <div class="d-inline">
                                    <a class="btn btn-warning" href="/teams/<%= team._id %>/edit" role="button">Edit</a>
                                    <form action="/teams/<%= team._id %>?_method=DELETE" method="POST" class="d-inline">
                                        <button class="btn btn-danger">Delete</button>
                                    </form>
                                </div> 
                            <% } %> 
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div> 

</div>