<%- include('../partials/head')%>
<%- include('../partials/navbar')%>

<div class="container my-5">

    <h1 class="display-2"><%= hero.name %></h1>

    <p class="display-6"><i><%= hero.alias %></i></p>
    <p class="">Universe: <%= hero.universe.length > 2 ? hero.universe.charAt(0).toUpperCase() + hero.universe.slice(1) : hero.universe.toUpperCase() %></p>
    
    <p class="h4">Stats:</p>
    <ul class="list-group col-8 col-sm-6 col-lg-3 col-xl-2">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            IQ
            <span class="badge bg-success rounded-pill"><%= hero.stats.iq %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Strength
            <span class="badge bg-success rounded-pill"><%= hero.stats.strength %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Speed
            <span class="badge bg-success rounded-pill"><%= hero.stats.speed %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Magic
            <span class="badge bg-success rounded-pill"><%= hero.stats.magic %></span>
        </li>
    </ul>

    <div class="list-group my-3 col-8 col-sm-6 col-lg-3 col-xl-2">
        <a href="/database/<%= hero._id %>/edit" class="list-group-item list-group-item-action list-group-item-warning">Edit</a>
        <a href="/" id="deleteBtn"
        class="list-group-item list-group-item-action list-group-item-danger">Delete</a>
    </div>

</div>



<footer class="footer" style="background-color: #bce3ff;">
    <div class="container p-3">
        <span class="text-muted">"I can do this all day."</span>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
</script>

<script src="/js/app.js"></script>

</body>

</html>