<% layout('./layouts/boilerplate')%>

<div class="container my-5 col-md-8 col-lg-6">

    <h1 class="display-2">Editing: <%= hero.name %></h1>

    <form action="/heroes/<%= hero._id %>?_method=PUT" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="name" class="form-label">Hero Name</label>
            <input type="text" class="form-control" id="name" name="hero[name]" aria-describedby="heroName" value="<%= hero.name %>" required>
        </div>
        <div class="mb-3">
            <label for="alias" class="form-label">Hero Alias</label>
            <input type="text" class="form-control" id="alias" name="hero[alias]" value="<%= hero.alias %>" required>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input type="text" class="form-control" id="image" name="hero[image]" value="<%= hero.image %>" required>
        </div>
        <div class="mb-3">
            <label for="bio" class="form-label">Bio</label>
            <textarea type="text" class="form-control" id="bio" name="hero[bio]" rows="5" required><%= hero.bio %></textarea>
        </div>
        <button type="submit" class="btn btn-warning">Submit</button>
    </form>


</div>
