<% layout('./layouts/boilerplate')%>

<div class="container my-5">
    
    <h1 class="display-3">Database</h1>
    <% if (!universe) { %>
        <h2 class="display-6">Showing All</h2>
    <% } else { %>
        <h2 class="display-6">
            <span
            class="text-primary"><%= universe.length > 2 ? universe.charAt(0).toUpperCase() + universe.slice(1) : universe.toUpperCase() %></span> only
        </h2>
    <% } %>
    <hr>

    <div class="container col col-lg-8">

        <%- include('../partials/topFlash') %>

        <% for (let hero of heroes) { %>

            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="<%= hero.image %>" alt="hero-image" class="mw-100 rounded-start">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="/heroes/<%= hero._id %>"><%= hero.name %></a></h5>
                            <p class="card-text"><i><%= hero.alias %></i></p>
                            <p class="card-text"><a
                                    href="/heroes?universe=<%= hero.universe %>"><%= hero.universe.length > 2 ? hero.universe.charAt(0).toUpperCase() + hero.universe.slice(1) : hero.universe.toUpperCase() %></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <p class="h4">Stats:</p>
            <ul class="list-group col">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    IQ
                    <span class="badge bg-success rounded-pill"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Strength
                    <span class="badge bg-success rounded-pill"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Speed
                    <span class="badge bg-success rounded-pill"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Magic
                    <span class="badge bg-success rounded-pill"></span>
                </li>
            </ul> -->

        <% } %>

    </div>

</div>