<% layout('./layouts/boilerplate')%>

<div class="container my-5">

    <h1 class="display-3">Database</h1>
    <% if (!universe) { %>
    <h2 class="display-6">Showing All</h2>
    <% } else { %>
    <h2 class="display-6"><span
            class="text-primary"><%= universe.length > 2 ? universe.charAt(0).toUpperCase() + universe.slice(1) : universe.toUpperCase() %></span>
        only</h2>
    <% } %>
    <hr>

    <div class="row row-cols-auto d-flex justify-content-evenly">

        <% for (let hero of heroes) { %>
        <div class="col col-lg-3 my-4 mx-1 bg-light rounded">
            <h2 class="display-6"><%= hero.name %></h2>
            <p class=""><i><%= hero.alias %></i></p>

            <img src="<%= hero.image %>" alt="hero-image" class="heroImage mb-2">

            <p class=""><a
                    href="/heroes?universe=<%= hero.universe %>"><%= hero.universe.length > 2 ? hero.universe.charAt(0).toUpperCase() + hero.universe.slice(1) : hero.universe.toUpperCase() %></a>
            </p>

            <!-- <p class="h4">Stats:</p>
            <ul class="list-group col">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    IQ
                    <span class="badge bg-success rounded-pill"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Strength
                    <span class="badge bg-success rounded-pill"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Speed
                    <span class="badge bg-success rounded-pill"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Magic
                    <span class="badge bg-success rounded-pill"></span>
                </li>
            </ul> -->

            <a class="btn btn-secondary my-3" href="/heroes/<%= hero._id %>" role="button">Details</a>

            <hr>
        </div>
        <% } %>

    </div>

</div>