<%- include('../partials/head')%>
<%- include('../partials/navbar')%>

<div class="container my-5">

    <div class="row d-flex flex-column align-items-center">

        <div class="col col-lg-8">

            <%- include('../partials/flash') %>

            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="<%= hero.image %>" alt="heroImage" class="mw-100 rounded-start">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= hero.name %></h5>
                            <p class="card-text"><i><%= hero.alias %></i></p>
                            <div class="list-group my-3 col col-md-8 col-xl-6">
                                <a href="/heroes?universe=<%= hero.universe %>"
                                    class="list-group-item list-group-item-action list-group-item-primary"><%= hero.universe.length > 2 ? hero.universe.charAt(0).toUpperCase() + hero.universe.slice(1) : hero.universe.toUpperCase() %></a>
                                <a href="/heroes/<%= hero._id %>/edit"
                                    class="list-group-item list-group-item-action list-group-item-warning">Edit</a>
                                <a href="/heroes" id="deleteBtn"
                                    class="list-group-item list-group-item-action list-group-item-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="my-5">

                <h4>New Equipment Info</h4>
                <hr> 
                <form action="/heroes/<%= hero._id %>/equipment" method="POST" class="mb-5 needs-validation" novalidate>
                    <section class="mb-2">
                        <label for="title" class="form-label">Equipment Title</label>
                        <input class="form-control" type="text" id="title" name="equipment[title]" required>
                    </section>
                    <section class="mb-2">
                        <label for="description" class="form-label">Description:</label>
                        <textarea class="form-control" id="description" name="equipment[description]" rows="5" required></textarea>
                    </section>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>

            <div class="">
                <% for (let equipment of hero.equipment) { %> 
                    <div class="card mb-4">
                        <div class="card-header">
                            <%= equipment.title %>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><%= equipment.description %>
                            </p>
                            <form action="/heroes/<%= hero._id %>/equipment/<%= equipment._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                <% } %> 
            </div>

        </div>

    </div>

</div>



<footer class="footer" style="background-color: #bce3ff;">
    <div class="container p-3">
        <span class="text-muted">"I can do this all day."</span>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
</script>

<script src="/js/app.js"></script>

</body>

</html>