<% layout('./layouts/boilerplate')%>

<div class="container my-5">

    <div class="row d-flex flex-column align-items-center">

        <div class="col col-lg-8">

            <%- include('../partials/flash') %>

            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="<%= hero.image %>" alt="heroImage" class="mw-100 rounded-start">
                    </div>
                    <div class="col-md-8 d-flex flex-column">
                        <h5 class="card-header"><%= hero.name %></h5>
                        <div class="card-body">
                            <h5 class="card-title"><%= hero.alias %></h5>
                            <p class="card-text"><%= hero.bio %></p>      
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-between align-items-center">
                            <span>Database upload by u/<%= hero.postAuthor.username %></span>
                            <div class="d-inline">
                                <a class="btn btn-warning" href="/heroes/<%= hero._id %>/edit" role="button">Edit</a>
                                <form action="/heroes/<%= hero._id %>?_method=DELETE" method="POST" class="d-inline">
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="my-5">
                <h4>New Equipment Info</h4>
                <hr> 
                <form action="/heroes/<%= hero._id %>/equipment" method="POST" class="mb-5 needs-validation" novalidate>
                    <section class="mb-2">
                        <label for="title" class="form-label">Equipment Title</label>
                        <input class="form-control" type="text" id="title" name="equipment[title]" required>
                    </section>
                    <section class="mb-2">
                        <label for="description" class="form-label">Description:</label>
                        <textarea class="form-control" id="description" name="equipment[description]" rows="5" required></textarea>
                    </section>
                    <button type="submit" class="btn btn-success mt-2">Submit</button>
                </form>
            </div>

            <div class="">
                <% for (let equipment of hero.equipment) { %> 
                    <div class="card mb-4">
                        <div class="card-header">
                            <%= equipment.title %>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><%= equipment.description %>
                            </p>
                            <form action="/heroes/<%= hero._id %>/equipment/<%= equipment._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                <% } %> 
            </div>

        </div>

    </div>

</div>
